/* Set up Roboto for old browsers, only regular + bold */
@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: 'Space Grotesk';
        src: url('./assets/fonts/static/SpaceGrotesk-Medium.ttf') format('ttf');
        font-weight: normal;
    }

    @font-face {
        font-family: 'Space Grotesk';
        src: url('./assets/fonts/static/SpaceGrotesk-Bold.ttf') format('ttf');
        font-weight: bold;
    }
}

/* Set up Roboto for modern browsers, all weights */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Space Grotesk';
        src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf supports variations'),
        url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf-variations');
        font-weight: 100 1000;
        font-stretch: 25% 151%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    list-style-type: none;
}

html {
    margin: 0 165px;
    background-color: #151515;
}


h1 {
    font-family: 'Space Grotesk', serif;
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -2.5px;
}

h2 {
    font-family: 'Space Grotesk', serif;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -1.5px;
}

h3 {
    font-family: 'Space Grotesk', serif;
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    font-family: 'Space Grotesk', serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #D9D9D9;
}

a {
    font-family: 'Space Grotesk', serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    padding: 20px 0;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li.logo {
    padding: 0 715px 0 0;
}

nav ul li {
    padding: 8px 30px 0 0;
}

section#info-ab-adam {
    width: 100%;
    height: 700px;
}

.circles-left {
    position: absolute;
    left: -50px;
    z-index: -1;
}

.content {
    max-width: 706px;
    margin: 40px 0;
    padding: 60px 0 0 0;
}

.content p {
    max-width: 445px;
    margin: 65px 0;
}

.content h1 span {
    background-image: linear-gradient(#4EE1A0 100%, #4EE1A0 100%);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 100% 7px;
}

.contact {
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding: 0 0 12px 0;
    background-image: linear-gradient(#4EE1A0 100%, #4EE1A0 100%);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 100% 2px;
}

.adam-pic {
    position: absolute;
    top: 0;
    right: 165px;
    z-index: -99;
}

.adam-pic img {
    height: 720px;
    width: 445px;
}

.circle {
    position: absolute;
    top: 520px;
    left: 765px;
    z-index: -2;
}

/*** SKILLS ****/

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 0;
}

.skill {
    width: 345px;
    height: 98px;
    margin: 0 0 58px 0;
}

.skill p {
    padding: 14px 0 0 0;
}

.circles-right {
    position: absolute;
    max-width: 1060px;
    top: 1077px;
    right: 0;
}

.circles-right img {
    object-position: 290px;
}

/******* Projects *********/

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    width: 100%;
}

.projects-heading a {
    align-self: center;
}

.project {
    width: 540px;
    margin: 0 0 75px 0;
}

.project img {
    width: 100%;
    padding: 0 0 27px 0;
}

.project h3 {
    margin: 0 0 20px 0;
}

/******** Footer *********/

footer {
    display: flex;
    width: 100%;
    height: 600px;
}

.gray-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #242424;
    z-index: -100;
}

footer .contact-info {
    width: 445px;
}
