.main-content {
  padding: $default-padding;
}

.section-introduction {
  height: 87vh;
  border-bottom: .5px solid $color-white;
  position: relative;
}

.section-skills {
  padding: 6rem 0;
  position: relative;
}

.section-projects {
  padding: 6rem 0;
}